# Keybindings require three things to be fully defined: A selector that is
# matched against the focused element, the keystroke and the command to
# execute.
#
# Below is a basic keybinding which registers on all platforms by applying to
# the root workspace element.

# For more detailed documentation see
# https://atom.io/docs/latest/advanced/keymaps

'.platform-darwin .workspace .editor:not(.mini)':
  'ctrl-alt-up': 'ctrl-dir-scroll:scroll-up'
  'ctrl-alt-down': 'ctrl-dir-scroll:scroll-down'

'.platform-linux .workspace .editor:not(.mini)':
  'ctrl-alt-up': 'ctrl-dir-scroll:scroll-up'
  'ctrl-alt-down': 'ctrl-dir-scroll:scroll-down'

'.platform-win32 .workspace .editor:not(.mini)':
  'ctrl-up': 'ctrl-dir-scroll:scroll-up'
  'ctrl-down': 'ctrl-dir-scroll:scroll-down'
  
#'body':
#  'ctrl-shift-up': 'editor:move-line-up'
#  'ctrl-shift-down': 'editor:move-line-down'
